<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hall Of Fame | Login</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main-screen min-w-screen min-h-screen bg-zinc-800 text-white">
        <div class="p-5">
            <h3 class="text-3xl tracking-tight mt-2 mb-2">Login</h3>
            <form action="">
                <input type="text" placeholder="Username" class="border border-zinc-500 border-rounded outline-none p-1">
                <input type="password" placeholder="Password" class="border border-zinc-500 border-rounded outline-none p-1">
                <input type="submit" value="Login" class="border outline-none bg-amber-600 rounded p-1">
            </form>
        </div>
    </div>
</body>
</html>