<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hall Of Fame</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main-screen min-w-screen min-h-screen bg-zinc-800 text-white">
        <div class="users-container p-10">
            <a href="/" class="text-blue-500 underline mb-2">Back To Home</a>
            <h1 class="text-3xl tracking-tight mb-2 mt-2">All Users</h1>
            <div class="all-users-container flex gap-3 flex-wrap">
            <div class="user-outline border border-zinc-600 w-72 p-2 rounded-lg">
                <div class="user-image bg-zinc-600 h-32 rounded-lg"></div>
                <h3 class="tracking-tight text-lg">Mazahir Mehdi</h3>
                <p class="tracking-tight text-zinc-500">mazahirx@gmail.com</p>
                <div class="flex justify-between">
                    <a href="" class="text-zinc-300">Edit</a>
                    <a href="" class="text-red-400">Delete</a>
                </div>
            </div>
            <div class="user-outline border border-zinc-600 w-72 p-2 rounded-lg">
                <div class="user-image bg-zinc-600 h-32 rounded-lg"></div>
                <h3 class="tracking-tight text-lg">Mazahir Mehdi</h3>
                <p class="tracking-tight text-zinc-500">mazahirx@gmail.com</p>
                <div class="flex justify-between">
                    <a href="" class="text-zinc-300">Edit</a>
                    <a href="" class="text-red-400">Delete</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>